server:
  port: 8188
  servlet:
    context-path: /web-auth
  forward-headers-strategy: framework

jwt:
  access:
    expiration: 86400000
  refresh:
    expiration: 259200000
  secret:
    access: TXqgStgiwEc16r7M8csn55pFotV0tdp+TzzVATUVn5gTLhT8BAE9kpmc/vVvt3IiirL3lXtj8WA2darXR90Wmg==
    refresh: U/W8vWg98IBkXSOaR6RILL7/M2bxTE7pFcpdhEZbqArsDKz1mCGjvGJmwra2Ibo/OQ2ydG2dq9HrFcR65l+sPA==

springdoc:
  swagger-ui:
    path: /swagger/swagger-ui.html
  api-docs:
    path: /api/v1/api-docs

spring:
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/university
##    url: jdbc:mysql://localhost:3307/university for connection to Dockerized mysql
#    username: root
#    password: root
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
#        id:
#          new_generator_mappings: false

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/university
    username: postgres
    password: London8793
    jpa:
      show-sql: true
      properties:
        hibernate:
          ddl-auto: update
          dialect: org.hibernate.dialect.PostgreSQL10Dialect


  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false