<section>
  <div class="main-banner">
    <div class="main-banner-view">
      <div class="main-banner-left">
        <div class="banner-title"><p>Учитесь в любое время,</p><p> в любом месте. </p><p>Инвестируйте в свое</p><p> будущее</p></div>
        <div class="banner-title-bottom"><p><em>Черная Kаракатица — это место, где люди развивают свой собственный потенциал</em></p></div>
        <div class="banner-buttons">
          <button mat-raised-button color="primary" (click)="openRegistrationDialog()">Присоединиться</button>
          <button mat-raised-button color="primary">Все наши курсы</button>
        </div>
      </div>
    </div>
  </div>
</section>
