<mat-divider></mat-divider>

<div class="container-about">
  <div class="content-about">
    <div>
      <h1>Описание проекта:</h1>
    </div>
    <div class="about-command">
      <div class="about-command-title">
        О проекте
      </div>
      <div class="about-text">Проект - система управления колледжем.
        Система предполагает возможность регистрации студентов и преподавателей.
        Преподаватели могут создавать свои курсы и формировать в них расписание занятий,
        а также зачислять студентов в свои группы.
        Студенты могут просматривать свое расписание, в какую группу зачислен,
        коммуницировать со своими одногруппниками и преподавателем. Управление пользователями осуществляет администратор
      </div>
    </div>
    <div class="about-command">
      <div class="about-command-title">
        Наша команда
      </div>
      <div class="about-text">Мы являемся студентами образовательного портала-GeekBrains факультет "Java разработка".
        Данный проект разрабатывается в процессе обучения по курсу "Командная разработка на Java".
      </div>
      <div class="about-text">Участники нашей команды:</div>
      <ul>
        <li>Соболев Антон - ПМ, бэкенд разработчик, QA</li>
        <li>Алексей Гриценко - Фронтенд разработчик, бэкенд разработчик</li>
        <li>Александр Каратаев. - Бэкенд разработчик, QA</li>
      </ul>
    </div>
    <div class="about-command">
      <div class="about-command-title">
        Стек применяемых технологий
      </div>
      <div class="about-text">
        <ul>
          <li><a href="https://microservices.io/" target="_blank">Проект простроен на микросервисной архитектуре</a></li>
          <li><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a> </li>
          <li><a href="https://spring.io/projects/spring-security" target="_blank">Spring Security</a> </li>
          <li><a href="https://spring.io/projects/spring-data-jdbc" target="_blank">Spring Data JDBC</a></li>
          <li><a href="https://www.liquibase.org/" target="_blank">Liquibase</a> </li>
          <li><a href="https://swagger.io/specification/" target="_blank">OpenAPI</a> </li>
          <li><a href="https://www.keycloak.org/" target="_blank">Keycloak</a></li>
        </ul>
      </div>
      <div class="about-text">
        <a href="https://github.com/GU-Java-0622/testrepo" target="_blank">Ссылка на GitHub репозиторий</a>
      </div>
    </div>
  </div>
</div>
