<div class="container">
  <h1 mat-dialog-title>Регистрация</h1>
  <div mat-dialog-content >
    <form>
      <div class="form-container">
        <div class="left-side">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Фамилия</mat-label>
              <input
                matInput placeholder="Введите фамилию">
              <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Отчетсво</mat-label>
              <input
                matInput placeholder="Введите отчество">
              <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>
          </p>
        </div>
      <div class="right-side">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Имя</mat-label>
            <input
              matInput placeholder="Введите имя">
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>
        </p>
      </div>
      </div>
        <mat-divider></mat-divider>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Введите email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="formControl" required>
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
      <mat-divider></mat-divider>
      <div class="form-container">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Введите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Повторите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </div>
      <div mat-dialog-actions class="action-button">
        <button mat-raised-button >OK</button>
        <button mat-raised-button mat-dialog-close>Закрыть</button>
      </div>
      <mat-divider></mat-divider>
      <div class="form-footer">
        <app-oauth-buttons></app-oauth-buttons>
      </div>
    </form>
  </div>
</div>
