server:
  port: 8181
  servlet:
    context-path: /web-core

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

integrations:
  auth-service:
    url: http://localhost:5555/auth
    connect: 2000
    read: 10000
    write: 2000